import ko from 'knockout';
import template from './{{dashCase name}}.templ.html';
import viewModel from './{{dashCase name}}.viewmodel.js';
import './{{dashCase name}}.style.less';
// import components here

ko.components.register('{{dashCase name}}', { template, viewModel });
