<h3 data-bind="css: styles.bigRed">Email List</h3>
<div class="list-group big-red" data-bind="foreach: emails">
    <a href="#" class="list-group-item" data-bind="click: $parent.emailClicked">
        <span data-bind="text: subject"></span> |
        <span data-bind="text: date"></span>
    </a>
</div>
