@media (min-width: 992px) {
    .md-margin-bottom {
        margin-bottom: 12px;
    }
}
@media (max-width: 991px) {
    .sm-margin-top {
        margin-top: 15px;
    }
}
.help-block {
    &:empty {
        display: none;
    }
}