import ko from 'knockout';
import viewModel from './{{dashCase name}}.viewmodel';
import template from './{{dashCase name}}.templ.html';

ko.components.register('{{dashCase name}}', { viewModel, template });
