<h2>Folder List</h2>
<div class="list-group" data-bind="foreach: folders">
    <a href="#" class="list-group-item" data-bind="click: $parent.folderClicked">
        <span data-bind="text: label"></span>
        <span class="badge" data-bind="text: $parent.emailCount($data)"></span>
    </a>
</div>
