/**
 * Global stylesheet
 */

/**
 * Customize and extend Bootstrap with LESS, a CSS preprocessor, to take
 * advantage of the variables, mixins, and more used to build Bootstrap's CSS.
 * http://getbootstrap.com/2.0.4/less.html
 */
 @import '~bootstrap/less/bootstrap.less';
 
 // Test to see if postcss-flexbugs-fixes and autoprefixer work
 body {
   display: flex;
   user-select: none;
   flex: 1 0 calc(1vw - 1px);
 }