<!doctype html>
<html lang="en">

  <head>
    <!-- The first thing in any HTML file should be the charset -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Make the page mobile compatible -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- The above 4 meta tags *must* come first in the head; any other head
         content must come *after* these tags -->
    <title>Knockout Store ToDo</title>
  </head>
  <body>
    <!-- Display a message if JS has been disabled on the browser. -->
    <noscript>If you're seeing this message, that means <strong>JavaScript has
    been disabled on your browser</strong>, please <strong>enable JS</strong> to
    make this app work.</noscript>
    <!--[if lt IE 8]>
      <p class="browserupgrade">You are using an <strong>outdated</strong>
      browser. Please <a href="http://browsehappy.com/">upgrade your browser</a>
      to improve your experience.</p>
    <![endif]-->
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <app></app>
        </div>
      </div>
    </div>
  </body>
</html>
